@tailwind base;
@tailwind components;
@tailwind utilities;
/* remove powered by google image  */
.pac-container:after {
  content: "powered  pyreactor" !important;
  background-image: none !important;
  padding-bottom: 25px !important;
}
.ee {
  background-color: red !important;
}
