@tailwind base;
@tailwind components;
@tailwind utilities;
/* remove powered by google image  */
.pac-container:after {
  content: "powered  pyreactor" !important;
  background-image: none !important;
  padding-bottom: 25px !important;
}
.ee {
  background-color: red !important;
}

/* Custom CSS styles for marker container elements */
.gm-style .gm-style-iw {
  background-color: #f1f1f1 !important; /* Set background color */
  border: 2px solid #000000 !important; /* Set border color and thickness */
  padding: 10px; /* Add padding */
  border-radius: 5px; /* Add border radius */
}
